.t_all
  .t_form_action
    .t_one
      .t_one__formgroup
        .t_one_body
          .t_one_name
            .t_one_name__junle
              出品画像
            .t_one_name__hissu
              必須
          .t_one_name2
            最大10枚までアップロードできます
          .t_sell_uploader
            .t_sell_uploader__form
              .t_icon_camera
                a
              .t_text_drag_drop
                %p ドラッグアンドドロップ
                %p またはクリックしてファイルをアップロード
    .t_two
      .t_two__body_product_name
      .t_two__body_product_
      .t_two__junle
    .t_three
    .t_four
    .t_five
