.t_all{
  height: 2201px;
  background-color: grey;
  display: flex;
  justify-content: center;
  .t_form_action{
    height: 2201px;
    width: 700px;
    .t_one{
      padding: 40px;
      display: flex;
      justify-content: center;
      height: 255px;
      background-color: white;
      // box-sizing: border-box;
      // border: solid;
      // vertical-align: baseline;
      // border-width: 0px;
      // border-style: initial;
      // border-color: initial;
      // border-image: initial;
      &__formgroup{
        height: 255px;
        width: 620px;
        .t_one_body{
          height: 255px;
          width: 620px;
          .t_one_name{
            height: 19px;
            display: flex;
            align-items: center;
              &__junle{
                color: #333333;
                font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 1.4em;
              }
              &__hissu{
                background-color: #ff0211;
                color: #fff;
                font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                margin-left: 8px;
                font-size: 12px;
                padding: 0 4px;
              }
          }
          .t_one_name2{
            color: #000000;
            margin-top: 16px;
            font-size: 14px;
            line-height: 1.4em;            
            font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          }
          .t_sell_uploader{
            height: 158px;
            width: 620px;
            margin-top: 8px;
            padding: 0px 4px;
            &__form{              
              align-content: center;
              -webkit-box-align: center;
              align-items: center;
              background-color: rgb(245, 245, 245);
              cursor: pointer;
              display: flex;
              height: 100%;
              flex-wrap: wrap;
              -webkit-box-pack: center;
              justify-content: center;
              position: relative;
              border-width: 1px;
              border-style: dashed;
              border-color: rgb(204, 204, 204);
              border-image: initial;
              transition: all 0.5s ease-out 0s;
              .t_icon_camera{
                height: 24px;
                width: 24px;
                fill: rgb(34, 34, 34);
                margin-bottom: 8px;
              }
              .t_text_drag_drop{
                color: #333333;
                font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                font-size: 12px;
                line-height: 1.4em;
                text-align: center;
                width: 100%;
              }
            }
          }
        }
      }
    }
    .t_two{
      height: 336px;
      padding: 40px;
      background-color: pink;
      .t_two_body_product_name{
        height: 83px;
        background-color: red;
      }
      &__junle{
        color: #333333;
        font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4em;
      }
    }
    .t_three{
      // height: 444px;ビュー確認一緒ならOK
      height: 364px;
      padding: 40px;
      background-color: blue;
    }
    .t_four{
      // height: 444px;ビュー確認一緒ならOK
      height: 364px;
      padding: 40px;
      background-color: yellow;
    }
    .t_five{
      // height: 558px;ビュー確認一緒ならOK
      height: 478px;
      padding: 40px;
      background-color: green;
    }
  }
}