.books_all{
  background-image: url(book.jpg);
  .new_contents{
    height: 100vh;
    width: 100%;
    text-align: center;
    font-size: 20px;
      .register{
        font-size: 50px;
        color: white;
      }
    &__form{
      .new_register{
        width: 600px;
        margin: 0 auto;
        padding-top: 50px;
        .input_register{
          color: white;
          font-size: 35px;
        }
        .input_new{
          width: 300px;
          font-size: 20px;
        }
      }
      .new_image_register{
        width: 350px;
        margin: 0 auto;
        padding-top: 50px;
        .input_register{
          color: white;
          font-size: 35px;
        }
        .input_new{
          width: 300px;
          font-size: 20px;
        }
        .image_select{
          background-color: red;
          color: white;
        }
      }
      input.submit{
        width: 350px;
        background-color: green;
        color: white;
      }
    }
  }
}

